<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'exam/css/auth.css' %}">
    <script src="{% static 'exam/js/auth.js' %}" defer></script>
    <title>Авторизируйся!</title>
    <link rel="icon" href="{% static 'exam/icons/logo1.svg' %}">
</head>
<body>
  <article class="container">
    <div class="block">
      <section class="block-item">
        <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
        <button class="block-item_btn signin-btn">Войти</button>
      </section>
      <section class="block-item">
        <h2 class="block-item_title">У вас нет аккаунта?</h2>
        <button class="block-item_btn signup-btn {% if form.errors %}active{% endif %}">Зарегистрироваться</button>
      </section>
    </div>
    <div class="form-box {% if form.errors %}active{% endif %}">
      <form action="{% url 'auth_process' %}" method="post" class="form form_signin">
        {% csrf_token %}
        <h3 class="form_title">Вход</h3>
        <p><input type="text" name="username" class="form_input" placeholder="Логин" required></p>
        <p>
          <input type="password" name="password" class="form_input" placeholder="Пароль" required>
          {% if error_message %}<p class="error-message">{{ error_message }}</p>{% endif %}
        </p>
        <p><button type="submit" class="form_btn">Войти</button></p>
      </form>
      <form action="{% url 'auth' %}" method="post" class="form form_signup">
        {% csrf_token %}
        <h3 class="form_title">Регистрация</h3>
        <p>
          <input type="text" name="username" class="form_input" placeholder="Логин" required>
          {% if form.username.errors %}<span class="error-message">{{ form.username.errors }}</span>{% endif %}
        </p>
        <p>
          <input type="email" name="email" class="form_input" placeholder="Email" required>
          {% if form.email.errors %}<span class="error-message">{{ form.email.errors }}</span>{% endif %}
        </p>
        <p>
          <input type="text" name="organization" class="form_input" placeholder="Организация" required>
          {% if form.organization.errors %}<span class="error-message">{{ form.organization.errors }}</span>{% endif %}
        </p>
        <p>
          <input type="text" name="profession" class="form_input" placeholder="Профессия" required>
          {% if form.profession.errors %}<span class="error-message">{{ form.profession.errors }}</span>{% endif %}
        </p>
        <p>
          <input type="password" name="password1" class="form_input" placeholder="Пароль" required>
          {% if form.password1.errors %}<span class="error-message">{{ form.password1.errors }}</span>{% endif %}
        </p>
        <p>
          <input type="password" name="password2" class="form_input" placeholder="Подтвердить пароль" required>
          {% if form.password2.errors %}<span class="error-message">{{ form.password2.errors }}</span>{% endif %}
        </p>
        <p><button type="submit" class="form_btn form_btn_signup">Зарегистрироваться</button></p>
        {% if form.non_field_errors %}<p class="error-message">{{ form.non_field_errors }}</p>{% endif %}
      </form>
    </div>
  </article>
</body>
</html>
