<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение почты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'exam/css/code.css' %}">
    <link rel="icon" href="{% static 'exam/icons/logo1.svg' %}">
</head>
<body>
    <div class="reset">
        <h1>Код Подтверждения</h1>
        <p>Впишите код, который вы получил на e-mail:</p>
        <div class="code">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
        <button class="send">Подтвердить код</button>
    </div>
</body>
</html>