<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторы</title>
    {% load static %}
    <link rel="icon" href="{% static 'exam/icons/logo1.svg' %}">
    <link rel="stylesheet" href="{% static 'exam/css/my_authors.css' %}">
</head>
<body>
    <header class="header">
        <div class="title-form">
            <img 
            src="{% static 'exam/icons/logo.svg' %}"
            alt="logo" 
            class="header-logo-image"
            width="61" height="50" loading="lazy"
            />
            ExamPro
        </div>
          <nav class="header-menu">
              <ul class="header-menu-list">
                <li class="header-menu-item">
                  <a class="header-menu-link is-current" href="/my_authors">Мои авторы</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-link" href="/my_tests">Мои тесты</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-link" href="/my_acc">Аккаунт</a>
                </li>
                <li class="header-menu-item">
              </ul>
          </nav>
          <div class="search_block">
            <form> 
              <input type="search" name="text" class="search" placeholder="Введите автора или тему">
              <input type="submit" name="submit" class="submit" value="">
            </form>
          </div>
          
      </header>
    
</body>
</html>