<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    {% load static %}
    <link rel="icon" href="{% static 'exam/icons/logo1.svg' %}">
    <link rel="stylesheet" href="{% static 'exam/css/my_acc.css' %}">
    <script src="{% static 'exam/js/my_acc.js' %}" defer></script>
</head>
<body>
    <header class="header">
      <div class="title-form">
          <img 
          src="{% static 'exam/icons/logo.svg' %}"
          alt="logo" 
          class="header-logo-image"
          width="61" height="50" loading="lazy"
          />
          ExamPro
      </div>
        <nav class="header-menu">
            <ul class="header-menu-list">
              <li class="header-menu-item">
                <a class="header-menu-link" href="/my_authors">Мои авторы</a>
              </li>
              <li class="header-menu-item">
                <a class="header-menu-link" href="/my_tests">Мои тесты</a>
              </li>
              <li class="header-menu-item">
                <a class="header-menu-link is-current" href="/my_acc">Аккаунт</a>
              </li>
              <li class="header-menu-item">
            </ul>
        </nav>
        <div class="search_block">
          <form> 
            <input type="search" name="text" class="search" placeholder="Введите автора или тему">
            <input type="submit" name="submit" class="submit" value="">
          </form>
        </div>
        
    </header>
    <article>
      <div class="left-column">
        <div class="avatar-frame">
        <img src="{{ user.photo.url }}" alt="Avatar">

        </div>
          <p id="name" class="name"></p>
          <p id="profession"></p>
          <p id="organization"></p>
<form id="avatar-form" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="avatar-upload" name="avatar" accept="image/*">
    <label for="avatar-upload" class="download_btn">Загрузить аватар</label>
</form>
    </div>
    <div class="right-column">
      <div class="user_card">
        <div class="card_header">
          <p>Личная карточка</p>
        </div>
        <hr>
        <div class="card_body">
<form id="profile-form" method="post">
    {% csrf_token %}
    <label for="inputName">Имя</label>
    <input type="text" id="inputName" name="first_name" class="info_input" value="{{ user.first_name }}">
    <label for="inputSurname">Фамилия</label>
    <input type="text" id="inputSurname" name="last_name" class="info_input_third" value="{{ user.last_name }}">
    <label for="inputProfession">Профессия</label>
    <input type="text" id="inputProfession" name="profession" class="info_input_second" value="{{ user.profession }}">
    <label for="inputOrganization">Организация</label>
    <input type="text" id="inputOrganization" name="organization" class="info_input_second" value="{{ user.organization }}">
    <button class="save_btn" type="submit" id="save-profile-btn">Сохранить</button>
</form>
        </div>
      </div>
    </div>
    </article>
 
</body>
</html>