<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тесты</title>
    <link rel="icon" href="/icons/logo1.svg">
    <link rel="stylesheet" href="/styles/my_tests.css">
</head>
<body>
    <header class="header">
        <div class="title-form">
            <img 
            src="/icons/logo.svg" 
            alt="logo" 
            class="header-logo-image"
            width="61" height="50" loading="lazy"
            />
            ExamPro
        </div>
          <nav class="header-menu">
              <ul class="header-menu-list">
                <li class="header-menu-item">
                  <a class="header-menu-link" href="/">Мои авторы</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-link is-current" href="/">Мои тесты</a>
                </li>
                <li class="header-menu-item">
                  <a class="header-menu-link" href="/">Аккаунт</a>
                </li>
                <li class="header-menu-item">
              </ul>
          </nav>
          <div class="search_block">
            <form> 
              <input type="search" name="text" class="search" placeholder="Введите автора или тему">
              <input type="submit" name="submit" class="submit" value="">
            </form>
          </div>
          
      </header>
    
</body>
</html>