/* Основные стили для страницы */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.title-form {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.header-logo-image {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.error-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-section h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
}

.error-section p {
    font-size: 18px;
    color: #666;
    margin: 0 0 20px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #0056b3;
}
